.page {
    background-color: #f4f7fb;
    min-height: 100vh;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    color: #1e293b;
}

.card-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: auto auto auto;
    gap: 25px;
}

.doctor-card {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.doctor-card:hover {
    transform: translateY(-5px);
}

.top-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #dbeafe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.doctor-name {
    margin: 0;
    color: #0f172a;
}

.specialization {
    margin-top: 5px;
    color: #64748b;
}

.info-section {
    margin-bottom: 20px;
    color: #334155;
}

.book-btn {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.book-btn:hover {
    background-color: #1d4ed8;
}